<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #unionsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="unions.id">{{l("EditUnions")}}</span>
                        <span *ngIf="!unions.id">{{l("CreateNewUnions")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Unions_Number">{{l("Number")}}</label>
									<input type="text" id="Unions_Number" class="form-control" [(ngModel)]="unions.number" name="Number"   minlength="1"  maxlength="50" />
								</div>
					
								<div class="form-group">
									<label for="Unions_LocalNumber">{{l("LocalNumber")}}</label>
									<input type="text" id="Unions_LocalNumber" class="form-control" [(ngModel)]="unions.localNumber" name="LocalNumber"   minlength="1"  maxlength="50" />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!unionsForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>