<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #shiftsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="shifts.id">{{l("EditShifts")}}</span>
                        <span *ngIf="!shifts.id">{{l("CreateNewShifts")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="JobsName">{{l("Jobs")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="JobsName" name="jobsName" [(ngModel)]="jobsName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectJobsModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setJobsIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="shifts.jobsId" [(ngModel)]="shifts.jobsId" type="text" required hidden>
		 

								<div class="form-group">
									<label for="Shifts_ScheduledStart">{{l("ScheduledStart")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="shifts.scheduledStart" id="Shifts_ScheduledStart" name="Shifts_ScheduledStart">
								</div>
					
								<div class="form-group">
									<label for="Shifts_ScheduledEnd">{{l("ScheduledEnd")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="shifts.scheduledEnd" id="Shifts_ScheduledEnd" name="Shifts_ScheduledEnd">
								</div>
					
								<div class="form-group">
									<label for="Shifts_Name">{{l("Name")}}</label>
									<input type="text" id="Shifts_Name" class="form-control" [(ngModel)]="shifts.name" name="Name"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!shiftsForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<shiftsJobsLookupTableModal #shiftsJobsLookupTableModal (modalSave)="getNewJobsId()"></shiftsJobsLookupTableModal>
		 
</div>