<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #jaccatForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jaccat.id">{{l("EditJACCAT")}}</span>
                        <span *ngIf="!jaccat.id">{{l("CreateNewJACCAT")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="JACCAT_SEQUENCE">{{l("SEQUENCE")}}</label>
									<input type="number" id="JACCAT_SEQUENCE" class="form-control" [(ngModel)]="jaccat.sequence" name="SEQUENCE"  min="1"  max="50"/>
								</div>
					
								<div class="form-group">
									<label for="JACCAT_JOBNUM">{{l("JOBNUM")}} *</label>
									<input type="text" id="JACCAT_JOBNUM" class="form-control" [(ngModel)]="jaccat.jobnum" name="JOBNUM"   minlength="1"  maxlength="100"  required/>
								</div>
					
								<div class="form-group">
									<label for="JACCAT_PHASENUM">{{l("PHASENUM")}}</label>
									<input type="text" id="JACCAT_PHASENUM" class="form-control" [(ngModel)]="jaccat.phasenum" name="PHASENUM"   minlength="1"  maxlength="50" />
								</div>
					
								<div class="form-group">
									<label for="JACCAT_CATNUM">{{l("CATNUM")}}</label>
									<input type="text" id="JACCAT_CATNUM" class="form-control" [(ngModel)]="jaccat.catnum" name="CATNUM"   minlength="1"  maxlength="100" />
								</div>
					
								<div class="form-group">
									<label for="JACCAT_NAME">{{l("NAME")}}</label>
									<input type="text" id="JACCAT_NAME" class="form-control" [(ngModel)]="jaccat.name" name="NAME"   minlength="1"  maxlength="100" />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jaccatForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>