<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Day1")}} :</h6>
                        {{ item.timetables.day1 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Day2")}} :</h6>
                        {{ item.timetables.day2 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Day3")}} :</h6>
                        {{ item.timetables.day3 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Day4")}} :</h6>
                        {{ item.timetables.day4 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Day5")}} :</h6>
                        {{ item.timetables.day5 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Day6")}} :</h6>
                        {{ item.timetables.day6 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Day7")}} :</h6>
                        {{ item.timetables.day7 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Amount")}} :</h6>
                        {{ item.timetables.amount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CreatedOn")}} :</h6>
                        {{ item.timetables.createdOn |  momentFormat:'YYYY-MM-DD HH:mm:ss'  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsActive")}} :</h6>
                        <div *ngIf="item.timetables.isActive" class="text-left"><i class="fa fa-check-circle kt--font-success"
                                title="True"></i></div>
                        <div *ngIf="!item.timetables.isActive" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("CostCode")}} :</h6>
                        {{ item.timetables.costCode }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("PayPeriods")}}) {{l("Name")}} :</h6>
                        {{item.payPeriodsName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Resources")}}) {{l("Name")}} :</h6>
                        {{item.resourcesName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("UnionPayRates")}}) {{l("Class")}} :</h6>
                        {{item.unionPayRatesClass}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Unions")}}) {{l("Number")}} :</h6>
                        {{item.unionsNumber}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Addresses")}}) {{l("State")}} :</h6>
                        {{item.addressesState}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("ExpenseTypes")}}) {{l("Description")}} :</h6>
                        {{item.expenseTypesDescription}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("CostTypes")}}) {{l("Name")}} :</h6>
                        {{item.costTypesName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Accounts")}}) {{l("Name")}} :</h6>
                        {{item.accountsName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("User")}}) {{l("Name")}} :</h6>
                        {{item.userName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PayTypes")}}) {{l("Code")}} :</h6>
                        {{item.payTypesCode}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("WorkerClasees")}}) {{l("Name")}} :</h6>
                        {{item.workerClaseesName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
