<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #jcjobForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jcjob.id">{{l("EditJCJOB")}}</span>
                        <span *ngIf="!jcjob.id">{{l("CreateNewJCJOB")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="JACCATJOBNUM">{{l("JACCAT")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="JACCATJOBNUM" name="jaccatJOBNUM" [(ngModel)]="jaccatJOBNUM" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectJACCATModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setJOBNUMNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="jcjob.jobnum" [(ngModel)]="jcjob.jobnum" type="text" required hidden>
		 

								<div class="form-group">
									<label for="JCJOB_STATE">{{l("STATE")}}</label>
									<input type="text" id="JCJOB_STATE" class="form-control" [(ngModel)]="jcjob.state" name="STATE"   minlength="1"  maxlength="50" />
								</div>
					
								<div class="form-group">
									<label for="JCJOB_LOCALITY">{{l("LOCALITY")}}</label>
									<input type="text" id="JCJOB_LOCALITY" class="form-control" [(ngModel)]="jcjob.locality" name="LOCALITY"   minlength="1"  maxlength="100" />
								</div>
					
								<div class="form-group">
									<label for="JCJOB_CLASS">{{l("CLASS")}}</label>
									<input type="text" id="JCJOB_CLASS" class="form-control" [(ngModel)]="jcjob.class" name="CLASS"   minlength="1"  maxlength="10" />
								</div>
					
								<div class="form-group">
									<label for="JCJOB_CLOSED">{{l("CLOSED")}}</label>
									<input type="number" id="JCJOB_CLOSED" class="form-control" [(ngModel)]="jcjob.closed" name="CLOSED"  min="1"  max="10"/>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jcjobForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<jcjobJACCATLookupTableModal #jcjobJACCATLookupTableModal (modalSave)="getNewJOBNUM()"></jcjobJACCATLookupTableModal>
		 
</div>