<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("STATE")}} :</h6>
                        {{ item.jcjob.state }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LOCALITY")}} :</h6>
                        {{ item.jcjob.locality }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CLASS")}} :</h6>
                        {{ item.jcjob.class }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CLOSED")}} :</h6>
                        {{ item.jcjob.closed }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("JACCAT")}}) {{l("JOBNUM")}} :</h6>
                        {{item.jaccatJOBNUM}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
