<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #resourcesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="resources.id">{{l("EditResources")}}</span>
                        <span *ngIf="!resources.id">{{l("CreateNewResources")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Resources_Name">{{l("Name")}} *</label>
									<input type="text" id="Resources_Name" class="form-control" [(ngModel)]="resources.name" name="Name"   minlength="1"  maxlength="50"  required/>
								</div>
					
								<div class="form-group">
									<label for="Resources_Type">{{l("Type")}} *</label>
									<input type="text" id="Resources_Type" class="form-control" [(ngModel)]="resources.type" name="Type"   minlength="1"  maxlength="50"  required/>
								</div>
					
								<div class="form-group">
									<label for="Resources_CostPerHour">{{l("CostPerHour")}}</label>
									<input type="number" id="Resources_CostPerHour" class="form-control" [(ngModel)]="resources.costPerHour" name="CostPerHour"  />
								</div>
					
								<div class="form-group">
									<label for="Resources_CostPerUser">{{l("CostPerUser")}}</label>
									<input type="number" id="Resources_CostPerUser" class="form-control" [(ngModel)]="resources.costPerUser" name="CostPerUser"  />
								</div>
					
								<div class="form-group">
									<label for="Resources_CostPerDay">{{l("CostPerDay")}}</label>
									<input type="number" id="Resources_CostPerDay" class="form-control" [(ngModel)]="resources.costPerDay" name="CostPerDay"  />
								</div>
					
								<div class="form-group">
									<label for="Resources_ResourceNumber">{{l("ResourceNumber")}}</label>
									<input type="text" id="Resources_ResourceNumber" class="form-control" [(ngModel)]="resources.resourceNumber" name="ResourceNumber"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!resourcesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>