<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #jcunionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jcunion.id">{{l("EditJCUNION")}}</span>
                        <span *ngIf="!jcunion.id">{{l("CreateNewJCUNION")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="JACCATJOBNUM">{{l("JACCAT")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="JACCATJOBNUM" name="jaccatJOBNUM" [(ngModel)]="jaccatJOBNUM" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectJACCATModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setJOBNUMNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="jcunion.jobnum" [(ngModel)]="jcunion.jobnum" type="text" required hidden>
		 

								<div class="form-group">
									<label for="JCUNION_UNIONNUM">{{l("UNIONNUM")}} *</label>
									<input type="text" id="JCUNION_UNIONNUM" class="form-control" [(ngModel)]="jcunion.unionnum" name="UNIONNUM"   minlength="1"  maxlength="100"  required/>
								</div>
					
								<div class="form-group">
									<label for="JCUNION_UNIONLOCAL">{{l("UNIONLOCAL")}}</label>
									<input type="text" id="JCUNION_UNIONLOCAL" class="form-control" [(ngModel)]="jcunion.unionlocal" name="UNIONLOCAL"   minlength="1"  maxlength="100" />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jcunionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<jcunionJACCATLookupTableModal #jcunionJACCATLookupTableModal (modalSave)="getNewJOBNUM()"></jcunionJACCATLookupTableModal>
		 
</div>